@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;

}

.box1 {
    background: radial-gradient(68.41% 137.44% at 12.69% 50.07%, rgba(251, 255, 47, 0.82) 0%, #FFFFFF 100%);
    border-radius: 20px;
    border: solid 2px rgb(206, 4, 247);
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 60px;
    box-shadow: 3px 11px 12px 12px 1px #e4fd00b4;
    border-radius: 30px;

}

.signup {
    position: absolute;
    top: 70px;
    text-align: center;
    box-shadow: 3px 11px 12px #e4fd00b4;
    border-radius: 30px;
}

.signup p {
    font-size: 60px;
    font-variant: small-caps;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 5px 5px 0.8px #ffae00;
    box-shadow: 3px 11px 12px #ffae00;
    border-radius: 30px;border: SOLID #ffae00 2px;
    width: 360px;

}

.section {
    position: relative;
    top: 20px;
}

.username {
    font-size: 40px;
    font-variant: small-caps;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 5px 5px 0.8px #ffae00;
    border-radius: 30px;
    position: relative;
    top: -10px;

}


.password {
    font-size: 40px;
    font-variant: small-caps;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 5px 5px 0.8px #ffae00;
    border-radius: 30px;
    position: relative;
    top: -10px;

}

input {
    font-size: 20px;
    font-variant: small-caps;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 5px 5px 0.8px #ffae00;
    border-radius: 20px;
    position: relative;
    top: -15px;

}


.forget a {
    font-size: 20px;
    text-decoration: none;
    font-variant: small-caps;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 5px 5px 0.8px #ffae00;
    border-radius: 20px;
    position: relative;
    top: -15px;
}

.sigin {
    width: 200px;

    text-align: center;
}

.sigin a{
    font-size: 30px;
    font-variant: small-caps;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #000000;
    text-shadow: 5px 5px 0.8px #ffd900;
    box-shadow: 3px 11px 12px #fffc3f;
    text-decoration: none;
    border-radius: 30px;
    border: solid black 1px;
    letter-spacing: 6px;    
    border-radius: 30px;border: SOLID #ffae00 2px;
   
}
.sigin a:hover{
    background: #ff2a2a;
    text-shadow: 5px 5px 0.8px #ff0000;
}